<% define_constants %>

<div class="row pt-3 pb-3 bg-warning bg-opacity-10">
  <div class="col text-center">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.account_id %>
    </h1>
  </div>
</div>

<div class="row pt-3 pb-3">
  <div class="text-center">
    <%= link_to "My Freelancer Page", 
        "/freelancers/" + params[:account_id], 
        class: "btn btn-primary"
    %>

    <%= link_to "My Hirer Page",
        "/hirer/" + params[:account_id],
        class: "btn btn-secondary"
    %> 
  </div>
</div>